head
    title #{title}
    
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1", user-scalable="no")

    meta(property='og:type', content='website')
    meta(property='og:url', content='')
    meta(property='og:title', content=metatitle)
    meta(property='og:description', content=desc)
    meta(property='og:image', content=metaImage)
    
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='')
    meta(property='twitter:title', content=metatitle)
    meta(property='twitter:description', content=desc)
    meta(property='twitter:image', content=metaImage)

    link(rel="icon" href="")

    link(rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css")
    link(rel="stylesheet",href="css/main.css")